---
import { template } from "../settings";

const currentYear = new Date().getFullYear();
---

<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded">
  <nav class="grid grid-flow-col gap-4">
    <a href="/" class="link link-hover">Home</a>
    <a href="/about" class="link link-hover">About</a>
    <a href="/research" class="link link-hover">Research</a>
    <a href="/publications" class="link link-hover">Publications</a>
    <a href="/contact" class="link link-hover">Contact</a>
  </nav>
  <nav>
    <div class="grid grid-flow-col gap-4">
      {
        template.person.social.map((social) => (
          <a
            href={social.url}
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-ghost btn-sm"
          >
            <span class="text-lg">{social.icon}</span>
            <span class="sr-only">{social.name}</span>
          </a>
        ))
      }
    </div>
  </nav>
  <aside>
    <p>
      © {currentYear}
      {template.person.name}. Built with
      <a
        href="https://astro.build"
        target="_blank"
        rel="noopener noreferrer"
        class="link link-primary"
      >
        Astro
      </a>
      and
      <a
        href="https://daisyui.com"
        target="_blank"
        rel="noopener noreferrer"
        class="link link-primary"
      >
        DaisyUI
      </a>
    </p>
  </aside>
</footer>
